.compare-side {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;

    &__left {
        border-right: 2px solid $color-text-gray;
    }

    &__right {
        border-left: 2px solid $color-text-gray;
    }

    &__tile {
        padding: 3rem 5rem;
    
        &:not(:last-child) {
            border-bottom: 2px solid $color-text-gray;
        }
    }

    &__heading {
        font-weight: 400;
        font-size: 2.5rem;
    }

    &__value {
        font-size: 3.5rem;
        font-weight: bold;

        &--default {
            width: 8rem;
            height: 3.5rem;
            margin: 1rem auto;
        }
    }
}

