.matrix {
    display: flex;
    width: 75%;
    flex-direction: column;
    margin: 1rem auto;

    &__row {
        display: flex;
        font-family: monospace;
        font-size: 1.5rem;
        height: 4rem;

        text-align: center;
    }

    &__left-label {
        flex: 1.5 1.5 0;
        line-height: 4rem;
        overflow: hidden; //todo turn into ellipsis
        text-align: right;
        padding-right: .5rem;
    }

    &__top-label {
        flex: 1 1 0;
        font-size: 1.2rem;
    }

    &__cell {
        border: 1px solid black;
        flex: 1 1 0;
        line-height: 4rem;

        &--positive {
            background-color: $color-h2h-winning;
        }

        &--negative {
            background-color: $color-h2h-losing;
        }

        &--even {
            background-color: $color-h2h-even;
        }

        &--empty {
            background-color: $color-h2h-self;
        }
    }
}