.period-select {
    &__container {
        position: relative;
        margin-right: auto;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &__icon {
        cursor: pointer;
        background-color: $color-button-background;
        width: 20rem;
        height: 5rem;
        border-radius: 10px;
        border: 1px solid transparent;

        &:hover, &--true {
            background-color: $color-button-fill;
            color: $color-blue-primary;
            border: 1px solid $color-blue-primary;
        }
    }

    &__text {
        padding-left: 2rem;
        font-size: 2rem;
        line-height: 5rem;
    }

    &__dropdown {
        background-color: white;
        text-align: left;
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
    }

    &__option {
        padding: 1rem 2rem;
        font-size: 2rem;
    }

    &__option:hover {
        background-color: $color-button-background;
    }

    &__chevron {
        position: absolute;
        right: 1.5rem;
        top: 32%;
        
        font-size: 2rem;
    }
}