.player-header {
    padding: 3rem;
    padding-top: 0;
    width: 100%;
    overflow: hidden;
    min-height: 21rem;
    border-bottom: 1px solid $color-text-gray;

    &__info {
        display: flex;
        align-items: center;
    }

    &__avatar {
        display: inline-block;
        position: relative;
        height: 18rem;
        flex: 0 1 18rem;
        background-size: cover;
        
        &--image {
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }
    }

    &__text {
        padding-left: 2rem;
        height: 100%;
        line-height: 4rem;
        margin-top: 1.5rem;

        &--prefix {
            color: $color-text-gray;
            font-size: 6rem;
            line-height: 6rem;
            padding-right: 1.5rem;
        }

        &--tag {
            font-size: 6rem;
            line-height: 6rem;
            font-weight: bold;
        }

        &--name {
            font-size: 4rem;
        }

        &--pronouns {
            margin-left: 3rem;
        }

        &--twitch, &--twitter {
            line-height: 0;
            font-size: 2.5rem;
            margin-left: .5rem;
            margin-right: 3rem;
            color: $color-text-gray;
        }
    }

    &__icon {
        fill: $color-text-gray;
    }
}

.social-link:link,
.social-link:active,
.social-link:visited {
    text-decoration:none;
}

