.ranking-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 92%;
    margin: 0 auto;
}

.ranking-header {
    font-size: 3.2rem;
    font-weight: bold;
    display: flex;
    padding: 1rem 0;

    &__1 {
        text-align: center;
        flex: 0 0 8%;
    }

    &__2 {
        flex: 0 0 calc(25% + 11rem);
    }

    &__3 {
        flex: 0 0 10%;
        text-align: center;

    }

    &__4 {
        flex: 0 0 15%;
        text-align: center;
    }

    &__5 {
        flex: 0 0 12%;
        text-align: center;
    }

    &__6 {
        
    }

    &__entry {
        cursor: pointer;
        padding: 0 1rem;
    }

    &__sort-arrow {
        font-size: 2.8rem;
        margin-left: .5rem;
        transform: translateY(.4rem);
        cursor: pointer;
    }
}

.ranking-row {
    display: flex;
    font-size: 3rem;
    align-items: center;
    
    &:not(:last-child) {
        border-bottom: 1px solid $color-text-gray;
    }

    &__item {
        display: inline-block;
        padding: 1rem;
    }

    &__rank {
        flex: 0 0 8%;
        font-size: 4rem;
        font-weight: bold;
        text-align: center;
    }
    
    &__avatar {
        aspect-ratio: 1;
        height: 11rem;
        border-radius: 50%;
    }

    &__name {
        flex: 0 0 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        line-height: 3.5rem;

        &--top {
            display: flex;
            align-items: center;
            margin-bottom: .6rem;
        }

        &--tag {
            font-size: 3.5rem;
            font-weight: 600;
        }

        &--tag:hover {
            text-decoration: underline !important;
        }

        &--pronouns {
            font-size: 2.8rem;
            padding-left: 1rem;
        }

        &--bottom {
            display: flex;
        }

        &--icon {
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 1rem;
            fill: $color-text-gray;
        }
    }

    &__rating {
        text-align: center;
        padding-right: 3rem; //This is here for better visual centering, but it might make break on different screens
        flex: 0 0 10%;
    }

    &__winloss {
        text-align: center;
        flex: 0 0 15%;
    }

    &__pr-events {
        text-align: center;
        flex: 0 0 12%;
    }

    &__last-tournament {
        line-height: 3rem;
        font-size: 3rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &--date {
            color: $color-text-gray;
        }
    }
}

.ranking-filters {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 3rem;
    line-height: 0;
}