.tsum {
    width: 49%;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .25);

    &__event {
        display: flex;
        flex: 1;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &--image-container {
            flex: 0 1 10rem;
            max-height: 100%;
            
            clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
        }

        &--image {
            max-height: 8rem;
            margin-right: 1rem;
        }

        &--title {
            margin-right: auto;
            text-align: left;
            padding-top: .5rem;
        }

        &--tourney {
            font-family: proxima-nova-wide;
            font-size: 3.2rem;
            white-space: nowrap;
        }

        &--info {
            font-size: 2rem;
        }

        &--date, &--entrants {
            margin-left: .5rem;
            margin-right: 1rem;
        }

        &--placing {
            font-size: 5rem;
            font-weight: bold;
            margin-right: 2rem;
        }
    }

    &__result {
        flex: 1;
        display: flex;
        align-items: stretch;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        padding-left: 1rem;
    }

    &__wins {
        margin-right: 1rem;
        
        &--header {
            display: block;
            font-size: 2.5rem;
        }

        &--value {
            line-height: 4rem;
            font-size: 4rem;
            font-weight: bold;
        }
    }

    &__record {
        line-height: 4rem;
        &--placing {
            font-size: 4rem;
            font-weight: bold;
        }

        &--entrants {
            font-size: 3rem;
        }
    }
    
    &__losses {
        padding-top: 1rem;
        margin-left: 3rem;
        flex: 0 1 15%;

        &--header {
            display: block;
            font-size: 1.5rem;
        }

        &--names {
            display: inline-block;
            font-size: 1.5rem;
        }
    }

    &__sets {
        flex: 1 1 0;
        margin: 0 1rem;
        padding-left: 1rem;
        display: flex;
        flex-direction: column;

        &--container {
            flex: 1 1 0;
            display: flex;
            justify-content: stretch;
            align-items: center;
            flex: 1;
            margin: 0;
        }

        &--set {
            flex: 1 1 0;
            font-size: 2.5rem;
            font-weight: bold;
            height: 4rem;
            line-height: 3.5rem;
            border-radius: 3px;
            list-style: none;
            border: 2px solid transparent;
            cursor: default;
            
            &:not(:last-child) {
                margin-right: .3rem;
            }
        }

        &--set:hover {
            border: 2px solid $color-text-black;
        }

        &--W {
            background-color: $color-blue-accent;
        }

        &--L {
            background-color: $color-red-accent;
        }
    }

    &__details {

        transition: all .4s;
        margin-top: 0%;

        &--expand-container {
            overflow: hidden;
        }

        &-false {
            margin-top: -150%;
        }
    }

    &__chevron {
        align-self: center;
        cursor: pointer;
        font-size: 2.2rem;
        transform: scaleY(1);
        transition: all .4s;

        &-true {
            transform: scaleY(-1);
        }
    }
}

.set-detail {
    margin: .5rem;
    border-radius: 3px;

    &__round {

        padding: .4rem 0;
    }

    &__score {
        display: flex;

        &--player,
        &--opponent {
            flex: 1 1 0;
            display: flex;
            justify-content: space-between;
            font-family: proxima-nova-wide;
            font-weight: bold;
            font-size: 2rem;
            padding: .5rem 1rem;
    

        }
    
        &--player {

        }
    
        &--player-true {

        }
    
        &--opponent-false {

        }
    }
}

.set-tooltip {
    flex: 1 1 0;
    margin: .5rem 1rem;
    display: flex;
    align-content: center;
    border-radius: 12px;
    overflow: hidden;
    transition: all .4s;
    
    &__player,
    &__opponent {
        position: relative;
        flex: 1 1 0;
        display: flex;
        justify-content: space-between;
        font-family: proxima-nova-wide;
        font-size: 2rem;
        padding: 0 1rem;
        padding-top: .5rem;
        background-color: $color-matchup-background;
    }

    &__tag {
        margin: 0 2rem;
    }

    &__games {
        font-weight: bold;
    }

    &__player-true {
        background-color: $color-blue-accent;
    }

    &__opponent-false {
        background-color: $color-red-accent;
    }

    &__active {
        opacity: 1;
    }

    &__inactive {
        opacity: 0;
    }

    &__player::before {
        content: "";
        position: absolute;
        top: -50%;
        left: -2.4rem;
        width: 4rem;
        height: 200%;
        background-color: $color-matchup-highlight;
    }

    &__player-true::before {
        background-color: $color-blue-primary
    }

    &__opponent::after {
        content: "";
        position: absolute;
        top: -50%;
        right: -2.3rem;
        width: 4rem;
        height: 200%;
        background-color: $color-matchup-highlight;
    }

    &__opponent-false::after {
        background-color: $color-red-primary;
    }
}