/*TODO: Fix these class names, only 2 levels of nesting!!*/

.tournament-summary {
    width: 50%;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid $color-h2h-even;
    border-radius: 3px;

    &__event {
        background-color: $color-h2h-even;
        display: flex;
        justify-content: space-between;
        border-bottom: 3px solid $color-header-background;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &--image-container {
            max-height: 100%;
            max-width: 10rem;
            background-color: white;
            clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
        }

        &--image {
            max-height: 8rem;
            max-width: 8rem;
            margin-right: 1em;
        }

        &--tourney {
            font-family: acumin-pro-wide;
            font-size: 3.5rem;
            white-space: nowrap;

            &-link {
                text-decoration: none;
            }

            &-link:active, &-link:visited {
                color: blue;
            }
        }

        &--info {
            font-size: 2rem;
        }

        &--date, &--entrants {
            margin-left: .5rem;
            margin-right: 1rem;
        }

        &--placing {
            font-size: 5rem;
            font-family: acumin-pro-wide;
            font-weight: bold;
            margin-right: 2rem;
        }
    }

    &__result {
        display: flex;
        font-family: acumin-pro-wide;
        font-weight: bold;
        text-transform: uppercase;
        background-color: $color-gray-light;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;

        &--record {
            padding-top: 1rem;
            margin-left: 1rem;

            &-header {
                display: block;
                font-size: 1.5rem;
            }

            &-value {
                font-size: 3rem;
            }
        }

        &--losses {
            padding-top: 1rem;
            margin-left: 3rem;
            max-width: 20%;

            &-header {
                display: block;
                font-size: 1.5rem;
            }

            &-names {
                display: inline-block;
                font-size: 1.5rem;
            }
        }

        &--sets {
            flex: 1 1 0;
            margin: 0 3rem;
            display: flex;
            flex-direction: column;
            padding-bottom: 1rem;

            &-container {
                flex: 1 1 0;
                display: flex;
                justify-content: stretch;
                width: 100%;
            }

            &-set {
                flex: 1 1 0;
                font-size: 2rem;
                border-radius: 3px;
                
                &:not(:last-child) {
                    margin-right: .3rem;
                }

                &W {
                    background-color: $color-h2h-winning;
                }

                &L {
                    background-color: $color-h2h-losing;
                }
            }
        }

        &--chevron {
            cursor: pointer;
            font-size: 3rem;
            margin-top: 4.5rem;
            margin-right: 1rem;
            transform: scaleY(1);
            transition: all .4s;

            &-true {
                transform: scaleY(-1);
            }
        }
    }

    &__details {
        background-color: $color-gray-light;
        transition: all .5s ease-in-out;
        margin-top: 0%;

        &--expand-container {
            overflow: hidden;
        }

        &-false {
            margin-top: -150%;
        }
    }
}

.set-detail {
    border: 3px solid $color-header-background;
    margin: .5rem;
    border-radius: 3px;

    &__round {
        background-color: $color-header-background;
        color: $color-white-text;
        padding: .4rem 0;
    }

    &__score {
        display: flex;

        &--player,
        &--opponent {
            flex: 1 1 0;
            display: flex;
            justify-content: space-between;
            font-family: acumin-pro-wide;
            font-weight: bold;
            font-size: 2rem;
            padding: .5rem 1rem;
    
            color: $color-gray-text-dark;
            background-color: $color-h2h-even;
        }
    
        &--player {
            border-right: 1px solid $color-header-background;
        }
    
        &--player-true {
            background-color: $color-h2h-winning;
            color: $color-header-background;
        }
    
        &--opponent-false {
            background-color: $color-h2h-losing;
            color: $color-header-background;
        }
    }
}

.set-tooltip {
    width: 100%;
    flex: 1 1 0;
    margin: .5rem 0;
    display: flex;
    align-content: center;
    border-radius: 3px;

    border: 1px solid $color-header-background;
    
    &__player,
    &__opponent {
        flex: 1 1 0;
        display: flex;
        justify-content: space-between;
        font-family: acumin-pro-wide;
        font-weight: bold;
        font-size: 2rem;
        padding: 0 1rem;
        padding-top: .5rem;

        color: $color-gray-text-dark;
        background-color: $color-h2h-even;
    }

    &__player {
        border-right: 1px solid $color-header-background;
    }

    &__player-true {
        background-color: $color-h2h-winning;
        color: $color-header-background;
    }

    &__opponent-false {
        background-color: $color-h2h-losing;
        color: $color-header-background;
    }

    &__active {
        opacity: 1;
    }

    &__inactive {
        opacity: 0;
    }

    transition: all .4s;
}