$color-h2h-winning: #9ad5b6;
$color-h2h-losing: #f19998;
$color-h2h-even: #ccc;
$color-h2h-self: #333;

$color-gray-light: #eee;

$color-header-background: #171717;
$color-white-text: #e4e3de;
$color-gray-text: #a8a8a8;
$color-gray-text-dark: #5c5c5c;