$color-blue-primary: #117bbf;
$color-blue-mid: #3ba1e1;
$color-blue-accent: #d9e8f1;
$color-button-fill: #e8eff3;
$color-red-primary: #c74646;
$color-red-accent: #f3d1d6;

$color-text-black: #1e1e1e;
$color-text-gray: #7f7f7f;
$color-matchup-highlight: #bfbfbf;
$color-button-background: #dbdbdb;
$color-matchup-background: #eeeeee;
$color-background: #f8f8f8;